

.container{
    display:flex;
    flex-direction: column;
    max-width: 80%;
    margin-left: 10%;
    overflow-x:hidden;
}

.section{
    display: flex;
    flex-direction: row;
    gap:50px;
    margin-bottom:40px; 
}


.image-section{
    background-color: #E0E8F0;
    height: 322px;
    width: 630px;
    border-radius: 5px;
}

.icon{
    position: relative;
    top: 50%;
    left: 50%;;
}

.button{
    font: 20px arial;
    background-color:#557087 ;
    color:white;
    height: 56px;
    width: 169px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
     text-decoration-line:none;

}


h2{
    font: 700 32px/46.24px jost
}
h5{
    font: 700 20px/38px jost;
    color:#557087;

}